<h1>Profile part</h1>
<div ng-controller="ProfileController as profile">
    <p> {{profile.value}} </p>
    <form method="post" class="form-signin" ng-submit="profile.sendData()">
        <md-input-container class="md-block">
            <label>Executive number</label>
            <input aria-label="executive" name="execno" ng-model="profile.dataSending.executive">
        </md-input-container>
        <md-input-container  class="md-block">
            <label>Imei</label>
            <input type="text" aria-label="imei" name="imei" ng-model="profile.dataSending.imei">
        </md-input-container>
        <md-button type="submit" class="md-warn md-hue-2 md-raised">Send Data</md-button>
    </form>
    <div>
        <input type="file" id="file"  multiple accept="image/*" onchange="profile.handleFiles(this.files)">
        <!-- <md-button type="submit" class="md-warn md-raised" ng-click="profile.fileGet()">Send Image</md-button> -->
    </div>
</div>